<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{{template "header"}}

<div class="container py-5">
    <div class="row">
        <!-- 채팅 목록 -->
        <div class="col-md-8">
            <h3 class="mb-3">채팅</h3>
            <ul id="chatList" class="list-group mb-3 border" style="height: 400px; overflow-y: auto;">
                {{range .Messages}}
                {{if eq .Participant.ID $.AccessUser.ID}}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-start flex-column">
                        <small class="text-muted">{{.Time}}</small>
                        <small class="text-muted">{{.Participant.Name}}</small>
                        <div class="mb-1">{{.Content}}</div>
                    </div>
                </li>
                {{else}}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-end flex-column align-items-end">
                        <small class="text-muted">{{.Time}}</small>
                        <small class="text-muted">{{.Participant.Name}}</small>
                        <div class="mb-1">{{.Content}}</div>
                    </div>
                </li>
                {{end}}
                {{end}}
            </ul>
            <!-- 채팅 입력 -->
            <div class="input-group mb-3">
                <input id="roomId" type="hidden" name="room_id" value="{{.ID}}" />
                <input id="userId" type="hidden" name="user_id" value="{{.AccessUser.ID}}" />
                <textarea class="form-control" id="messageInput" name="message" rows="1" placeholder="메시지를 입력하세요..."></textarea>
                <button id="sendBtn" class="btn btn-primary">보내기</button>
            </div>
        </div>

        <!-- 참여자 목록 -->
        <div class="col-md-4">
            <h3 class="mb-3">참여자</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{.AccessUser.Name}} (본인)
                    <span class="badge bg-primary rounded-pill">*</span>
                </li>

                {{range .Participants}}
                {{if ne .ID $.AccessUser.ID}}
                <li class="list-group-item">{{.Name}}</li>
                {{end}}
                {{end}}
            </ul>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
let socket;
const roomId = document.getElementById("roomId").value;
let userId = document.getElementById("userId").value;

const messageInput = document.getElementById("messageInput");

const makeMessageDom = (data) => {
    let ul = document.getElementById("chatList");
    let li = document.createElement("li");
    li.classList.add("list-group-item");

    let div = document.createElement("div");
    div.classList.add("d-flex", "w-100", "flex-column", "mb-1");
    console.log(data.user.id)
    console.log(userId)
    // 메시지 보낸 사람이 현재 접속한 사용자인 경우
    if (data.user.id == userId) {
        div.classList.add("justify-content-start");
    } else {
        div.classList.add("justify-content-end", "align-items-end");
    }

    let smallTime = document.createElement("small");
    smallTime.classList.add("text-muted");
    smallTime.textContent = data.time; // 메시지 보낸 시간 설정

    let smallName = document.createElement("small");
    smallName.classList.add("text-muted");
    smallName.textContent = data.user.name; // 메시지 보낸 사람의 이름 설정

    let messageDiv = document.createElement("div");
    messageDiv.textContent = data.message; // 메시지 내용 설정

    // 요소들을 DOM에 추가
    div.appendChild(smallTime);
    div.appendChild(smallName);
    div.appendChild(messageDiv);
    li.appendChild(div);
    ul.appendChild(li);
};

const scrollToBottom = () => {
    const chatList = document.getElementById("chatList");
    chatList.scrollTop = chatList.scrollHeight;
}

const sendMessage = () => {
    socket.send(JSON.stringify({action: "broadcast", userId: userId, roomId: roomId, message: messageInput.value}));
    messageInput.value = "";
}

window.onbeforeunload = () => {
    socket.send(JSON.stringify({action: "left", userId: userId, roomId: roomId}));
}

document.addEventListener('DOMContentLoaded', () => {
    scrollToBottom();

    socket = new WebSocket("ws://127.0.0.1:8080/ws");

    socket.onopen = () => {
        console.log('Connected to the server');
        socket.send(JSON.stringify({action: "join", userId: userId, roomId: roomId}));
    };

    socket.onmessage = msg => {
        let data = JSON.parse(msg.data);
        console.log(data)

        switch (data.action) {
            case "join":
                console.log("User: " + data.user.name + " has joined the chatroom");
                break;

            case "broadcast":
                makeMessageDom(data);
                scrollToBottom();
                break;
        }
    }

    socket.onclose = () => {
        console.log('Connection to the server closed');
    };

    socket.onerror = (error) => {
        console.error('Error:', error);
    };
});

const validationSendMessage = (message) => {
    if (message === "") {
        alert("메세지를 입력해주세요");
        return false;
    }
    if (!socket) {
        console.error("채팅방 연결에 오류가 발생했습니다.");
        return false;
    }
    return true;
}

let debounceTimer;
messageInput.addEventListener("keydown", function (e) {
    if (e.code === "Enter") {
        e.preventDefault();
        e.stopPropagation();

        clearTimeout(debounceTimer);

        debounceTimer = setTimeout(() => {
            const messageValue = this.value.trim();
            validationSendMessage(messageValue);
            sendMessage();
            this.value = "";
        }, 100); // 0.1초 딜레이
    }
});

document.getElementById("sendBtn").addEventListener("click", function () {
    const messageValue = messageInput.value.trim();
    validationSendMessage(messageValue);
    sendMessage();
    messageInput.value = "";
});
</script>
</html>
