<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .profile-image { width: 40px; height: 40px; border-radius: 15px; border: solid 1px #ccc; margin-right: 10px; }
        .profile-image2 { width: 40px; height: 40px; border-radius: 15px; border: solid 1px #ccc; margin-left: 10px; }
        .mr-5 { margin-right: 5px; }
    </style>
</head>
<body>
{{template "header"}}

<div class="container py-5">
    <div class="row">
        <!-- 채팅 목록 -->
        <div class="col-md-8">
            <h3 class="mb-3">채팅</h3>
            <ul id="chatList" class="list-group mb-3 border" style="height: 400px; overflow-y: auto;">
                {{range .Messages}}
                <li class="list-group-item">
                    <div class="d-flex {{if eq .Participant.ID $.AccessUser.ID}}justify-content-start{{else}}justify-content-end{{end}} align-items-center">
                        {{if eq .Participant.ID $.AccessUser.ID}}
                        <img src="{{.Participant.ProfileImage}}" class="rounded-circle profile-image" />
                        {{end}}
                        <div class="d-flex flex-column {{if eq .Participant.ID $.AccessUser.ID}}align-items-start{{else}}align-items-end{{end}}">
                            <div><small class="text-muted mr-5">{{.Participant.Name}}</small><small class="text-muted">{{.Time}}</small></div>
                            <div class="mb-1">{{.Content}}</div>
                        </div>
                        {{if ne .Participant.ID $.AccessUser.ID}}
                        <img src="{{.Participant.ProfileImage}}" class="rounded-circle profile-image2" />
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>
            <!-- 채팅 입력 -->
            <div class="input-group mb-3">
                <input id="roomID" type="hidden" name="roomID" value="{{.ID}}" />
                <input id="userID" type="hidden" name="userID" value="{{.AccessUser.ID}}" />
                <textarea class="form-control" id="messageInput" name="message" rows="1" placeholder="메시지를 입력하세요..."></textarea>
                <button id="sendBtn" class="btn btn-primary">보내기</button>
            </div>
        </div>

        <!-- 참여자 목록 -->
        <div class="col-md-4">
            <h3 class="mb-3">참여자</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{.AccessUser.Name}} (본인)
                    <span class="badge bg-primary rounded-pill">*</span>
                </li>

                {{range .Participants}}
                {{if ne .ID $.AccessUser.ID}}
                <li class="list-group-item">{{.Name}}</li>
                {{end}}
                {{end}}
            </ul>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
let socket;
const roomID = document.getElementById("roomID").value;
let userID = document.getElementById("userID").value;

const messageInput = document.getElementById("messageInput");
const makeMessageDom = (data) => {
    console.log(data);
    let ul = document.getElementById("chatList");
    let li = document.createElement("li");
    li.classList.add("list-group-item");

    // 현재 사용자가 메시지를 보냈는지 판단
    let isCurrentUser = data.participant.ID.toString() === userID;
    console.log(isCurrentUser)

    let divFlex = document.createElement("div");
    divFlex.classList.add("d-flex", "align-items-center");
    // 현재 사용자의 메시지일 경우 왼쪽 정렬, 다른 사용자의 메시지일 경우 오른쪽 정렬
    if (!isCurrentUser) {
        divFlex.classList.add("justify-content-end");
    } else {
        divFlex.classList.add("justify-content-start");
    }

    let img = document.createElement("img");
    img.src = data.participant.profileImage;
    img.classList.add("rounded-circle");
    // 현재 사용자와 다른 사용자의 프로필 이미지 스타일 조정
    img.classList.add(isCurrentUser ? "profile-image" : "profile-image2");

    let divFlexColumn = document.createElement("div");
    divFlexColumn.classList.add("d-flex", "w-100", "flex-column");
    if (!isCurrentUser) {
        divFlexColumn.classList.add("align-items-end");
    }

    let divNameTime = document.createElement("div");
    let smallName = document.createElement("small");
    smallName.classList.add("text-muted", "mr-5");
    smallName.textContent = data.participant.name;

    let smallTime = document.createElement("small");
    smallTime.classList.add("text-muted");
    smallTime.textContent = data.time;

    divNameTime.appendChild(smallName);
    divNameTime.appendChild(smallTime);

    let messageDiv = document.createElement("div");
    messageDiv.classList.add("mb-1");
    messageDiv.textContent = data.content;

    divFlexColumn.appendChild(divNameTime);
    divFlexColumn.appendChild(messageDiv);

    // 현재 사용자의 메시지일 경우 프로필 이미지를 메시지 왼쪽에 배치
    if (isCurrentUser) {
        divFlex.appendChild(img);
    }
    divFlex.appendChild(divFlexColumn);
    // 다른 사용자의 메시지일 경우 프로필 이미지를 메시지 오른쪽에 배치
    if (!isCurrentUser) {
        divFlex.appendChild(img);
    }

    li.appendChild(divFlex);
    ul.appendChild(li);
};

const scrollToBottom = () => {
    const chatList = document.getElementById("chatList");
    chatList.scrollTop = chatList.scrollHeight;
}

const sendMessage = () => {
    socket.send(JSON.stringify({action: "broadcast", userID: userID, roomID: roomID, content: messageInput.value, type: "text"}));
    messageInput.value = "";
}

window.onbeforeunload = () => {
    socket.send(JSON.stringify({action: "left", userID: userID, roomID: roomID}));
}

document.addEventListener('DOMContentLoaded', () => {
    scrollToBottom();

    socket = new WebSocket("ws://127.0.0.1:8080/ws");

    socket.onopen = () => {
        console.log('Connected to the server');
        socket.send(JSON.stringify({action: "join", userID: userID, roomID: roomID}));
    };

    socket.onmessage = msg => {
        let result = JSON.parse(msg.data);

        switch (result.action) {
            case "join":
                console.log(result.message)
                break;

            case "broadcast":
                makeMessageDom(result.data);
                scrollToBottom();
                break;
        }
    }

    socket.onclose = () => {
        console.log('Connection to the server closed');
    };

    socket.onerror = (error) => {
        console.error('Error:', error);
    };
});

const validationSendMessage = (message) => {
    if (message === "") {
        alert("메세지를 입력해주세요");
        return false;
    }
    if (!socket) {
        console.error("채팅방 연결에 오류가 발생했습니다.");
        return false;
    }
    return true;
}

let debounceTimer;
messageInput.addEventListener("keydown", function (e) {
    if (e.code === "Enter") {
        e.preventDefault();
        e.stopPropagation();

        clearTimeout(debounceTimer);

        debounceTimer = setTimeout(() => {
            const messageValue = this.value.trim();
            validationSendMessage(messageValue);
            sendMessage();
            this.value = "";
        }, 100); // 0.1초 딜레이
    }
});

document.getElementById("sendBtn").addEventListener("click", function () {
    const messageValue = messageInput.value.trim();
    validationSendMessage(messageValue);
    sendMessage();
    messageInput.value = "";
});
</script>
</html>
