{{define "header"}}
<header class="p-3 text-bg-dark" style="margin-bottom: 50px;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul id="nav-list" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Home</a></li>
                <li><a href="/chat" class="nav-link px-2">Chat List</a></li>
            </ul>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="logout()">Logout</button>
            </div>
        </div>
    </div>
</header>

<script>
    const url = window.location.pathname;
    const navList = document.getElementById('nav-list');

    for (let i = 0; i < navList.children.length; i++) {
        const navItem = navList.children[i].children[0];
        if (navItem.pathname === url) {
            navItem.classList.add('text-white');
            continue;
        } else if (navItem.pathname.includes("chat") && url.includes("chat")) {
            navItem.classList.add('text-white');
            continue;
        }

        navItem.classList.add('text-secondary');
    }

    const logout = () => {
        window.location.href = '/logout';
    };
</script>

{{end}}